services:
  kafka:
    image: redpandadata/redpanda:latest
    container_name: redpanda

    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://localhost:9092

    ports:
      - "9092:9092"

    volumes:
      - redpanda_data:/var/lib/redpanda/data

volumes:
  redpanda_data:
